.calendarDay{
    border-radius: 50%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
}

.calendarDay.active {
    border: 1px solid red
}

.calendarDay__today{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
}