.container {
    width: 60%;
    margin: auto;
}

.calendarOptions{
    display: flex;
    flex: 1;
    font-family: 'Radio Canada', sans-serif;
}

.calendarOptions__title{
    flex: 0.5;
}

.calendarOptions__menu{
    flex: 0.5;
    display: flex;
    justify-content: end;
    align-items: center;
}

.slick-prev {
    left: -40px !important;
}

.slick-next{
    right: -40px !important;
}

.slick-next::before {
    content: '' !important;
}

.slick-prev:before {
    content: '' !important;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: var(--primary) !important;
}